.btn{
    margin-right: 30px;
    font-weight: bold;
}
.btncolor{
    background-color: #46A3EE;
}
.optiondiv{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}