<a href="/teacher" class="btn btn-info" style="margin-top: 5px;">Back</a>
<a href="/" class="btn btn-info" style="margin-top:5px; float: right;">Logout</a>
<h4>All Students</h4>
<a href="/teacher/add" class="btn btn-info" style="margin-top:5px; float: right;color:white">Add Record</a>
<div class="tablediv">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Roll No.</th>
                <th scope="col">Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Score</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <tr *ngFor="let item of collection">
                    <td>{{item.roll}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.dob}}</td>
                    <td>{{item.score}}</td>
                    <td>
                        <a routerLink="/update/{{item.id}}" class="btn btn-primary">Edit</a>
                        <a (click)="deleteStudent(item.id)" class="btn btn-danger">Delete</a>
                    </td>
            </tr>
        </tbody>
    </table>
</div>