.tablediv{
    margin: 10px 200px;
    padding: 60px 40px;
    border-radius: 10px;
}
.btn{
    margin-right: 30px;
    font-weight: bold;
}
.btncolor{
    background-color: #46A3EE;
}
.table{
    text-align: center;
}
h4{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -40px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
}