.chat-container {
    display: flex;
    flex-direction: column;
    height: 89vh; /* Adjust the height as needed */
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #f7f7f7;  /*Customize the background color */
  }
  
  .chat-input-container {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fff; /* Customize the background color */
  }
  
  .input-field {
    flex-grow: 1;
    margin-right: 8px; /* Add spacing between input field and send button */
  }
  
  .suffix-cursor:hover {
    cursor: pointer;
    color:green;
  }
  
  .message-item {
    border-radius: 10px;
    padding: 5px;
  }
 
  .message-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .message-outgoing .message-container {
    justify-content: flex-end;
  }
  
  .message-content {
    padding: 8px;
    border-radius: 8px;
    word-wrap: break-word;
    max-width: 45%;
  }
  
  .message-incoming .message-content {
    background-color:#f0f0f0;
    align-self: flex-start;
  }
  
  .message-outgoing .message-content {
    background-color:#dcf8c6;
    align-self: flex-end;
  }
  

::-webkit-scrollbar {
    width: 6px;
    background-color: #f7f7f7; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f7f7f7; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 3px;
  }
 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  
  .mic-button.active {
    color: red;
  }