<div class="container">
    <div class="chat-box">
      <div class="message" *ngFor="let message of messages">
        <div class="message-item" [ngClass]="{'incoming': message.incoming, 'outgoing': !message.incoming}">
          <div class="message-content">{{ message.content }}</div>
        </div>
      </div>
    </div>
    <div class="input-box">
      <input type="text" [(ngModel)]="newMessage" placeholder="Type a message" (keydown.enter)="sendMessage()" />
      <button (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
    </div>
  </div>
  